ion-card-header ion-button {
    float: right;
}

#formatted-content {
    display: block;
    margin-left: -17px;
    margin-right: -17px;
}

ion-card-content div.verse-editor {
    width: 33.33333%;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}